[user]
	email = emak.ryo@gmail.com
	name = Ryosuke Kamesawa
[alias]
	graph = log --all --graph --decorate=short --date=short --pretty='%C(auto)%h %ad %s %d'
	history = log -p --follow --
	s = status
[core]
	editor = vim
	excludesfile = ~/.gitignore
[push]
	default = simple
[credential]
	helper = store
