[user]
	email = emak.ryo@gmail.com
	name = Ryosuke Kamesawa
[alias]
	amend = commit --amend --no-edit
	graph = log --all --graph --decorate=short --date=short --pretty='%C(auto)%h %ad %s %d'
	history = log -p --follow --
	lsha1 = rev-parse --short HEAD
	s = status
[core]
	editor = vim
	excludesfile = ~/.gitignore
[push]
	default = simple
[credential]
	helper = store
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[pull]
	ff = only
